<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Documento PDF</h1>
    <h2 
        style="text-align: center; color: blue; text-transform: uppercase;">
         <%= name %> </h2>
    <% for(var i=0; i < 11; i++) { %>
        <p>Teste para criação de arquivos .pdf</p>
    <% } %>
</body>
</html>